/* Primary style sheet for the home page */

body {
    background-color: #5c23a1; /* fallback */
    background-image: linear-gradient(135deg, #5c23a1 0%, #48d1cc 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;

    h1 {
        font-family: "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        font-size: 60px;
        color: #f6f0ff; /* very very light purple */
        margin: 0;
        text-align: center;
        width: 100%;
        color: rgba(246,240,255,0.9);

        /* gradient text */
        background-image: linear-gradient(to bottom, #ffffff 0%, #fff2b8 50%, #ffffff 100%);
        background-repeat: no-repeat;
        background-size: 100%;
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: transparent;
        font-weight: 600;

    }
}
    