/* Primary style sheet for the home page */

body {

    margin: 0;

    background-color: #ecebfe; /* fallback */

    #home-headings, #half-moon {
        background-color: #5c23a1; /* fallback */
        background-image: linear-gradient(135deg, #5c23a1 0%, #48d1cc 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
    }

    #home-headings {
        background-color: #5c23a1; /* fallback */
        background-image: linear-gradient(135deg, #5c23a1 0%, #48d1cc 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;

        h1, h2 {
            color: #f6f0ff; /* very very light purple */
            margin: 0;
            text-align: center;
            width: 100%;
            font-family: "Trebuchet MS", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
        }

        h1 {
            
            font-size: 90px;
            color: rgba(246,240,255,0.9);
            padding: 100px 0;

            /* gradient text */
            background-image: linear-gradient(to bottom, #ffffff 0%, #fff2b8 50%, #ffffff 100%);
            background-repeat: no-repeat;
            background-size: 100%;
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            color: transparent;
            font-weight: 400;

        }

        h2{
            font-size: 25px;
            font-weight: 300;
        }
    }

    #half-moon {
        width: 100%;
        height: 400px; /* adjust height/radius as needed */
        /* bottom half of a circle (full-width semicircle) */
        border-radius: 0 0 50% 50% / 0 0 100% 100%;
        
    }

    #sliced {
        position: relative;
        overflow: visible;
        height: 400px;

        &::before {
            content: "";
            position: absolute;
            top: -5px;
            z-index: -1;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 15px;
            background-image: linear-gradient(to bottom, #527ab700 0px, #2f1d6b 5px, #005163 100%);
            background-repeat: no-repeat;
            background-size: cover;
            z-index: 1;
        }


    }
    
}
